<form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nombre completo</label>
    <input
      id="name"
      formControlName="name"
      type="text"
      class="form-control"
      placeholder="Tu nombre"
      required
    />
    @if(infoForm.get('name')?.invalid && infoForm.get('name')?.touched){
    <div class="error">El nombre es obligatorio.</div>
    }
  </div>

  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      class="form-control"
      placeholder="correo@ejemplo.com"
      required
    />
    @if(infoForm.get('email')?.invalid && infoForm.get('email')?.touched){
    <div class="error">Ingresa un correo electrónico válido.</div>
    }
  </div>

  <button type="submit" [disabled]="infoForm.invalid && infoForm.touched">
    <ui-icon name="send" size="18px"></ui-icon>
    Enviar solicitud
  </button>
</form>

@if(submissionStatus){
<div class="submission-status">{{ submissionStatus }}</div>
}
