<div class="container mt-2 col-12"><h4>Te puede interesar</h4></div>

@for(carouselId of ['banner1', 'banner2', 'banner3']; track carouselId; let idx
= $index){ @let images = idx === 0 ? imagesWithLinks1 : idx === 1 ?
imagesWithLinks2 : imagesWithLinks3;
<div class="container mt-2">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center align-items-center">
        @if(isLoading){
        <app-loading></app-loading>
        } @else { @if(images && images.length > 0){
        <div
          [attr.id]="carouselId"
          class="carousel slide ad-carousel"
          data-bs-ride="carousel"
          data-bs-interval="5000"
        >
          <div class="carousel-inner">
            @for(item of images; track item.id; let i = $index){
            <div class="carousel-item" [class.active]="i === 0">
              <a [href]="item.link" target="_blank">
                <img [src]="item.src" [alt]="item.alt" class="ad-img" />
              </a>
            </div>
            }
          </div>
          <button
            class="carousel-control-prev glass-carousel-arrow"
            type="button"
            [attr.data-bs-target]="'#' + carouselId"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button
            class="carousel-control-next glass-carousel-arrow"
            type="button"
            [attr.data-bs-target]="'#' + carouselId"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
        } @else {
        <div class="ad-placeholder glass-dark">
          <p>Espacio disponible para publicidad</p>
        </div>
        } }
      </div>
    </div>
  </div>
</div>
}
<div class="col-md-12 mt-2">
  <a href="https://devom.cl/" target="_blank" class="devom-card glass-card">
    <div class="devom-card-content">
      <img
        src="../../../../assets/images/devom-logo.png"
        alt="Devom.cl"
        class="devom-logo"
      />
      <div class="devom-text">
        <h5>Devom.cl</h5>
        <p>Desarrollo web & tecnología</p>
      </div>
      <ui-icon name="arrow_forward" size="18px" class="devom-arrow"></ui-icon>
    </div>
  </a>
</div>
