<div class="container">
  <div class="row">
    <div class="col-lg-9">
      @if(isLoading){
      <app-loading />
      }@else {
      <div class="galleries">
        <h2>Galerías</h2>
        <p>Compartimos nuestra galería de imágenes</p>
        <div class="col-md-12">
          <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
            @for (gallery of galleries; track gallery.gid) {
            <a
              [routerLink]="['/galerias', gallery.gid]"
              class="gallery-card-link"
            >
              <div class="gallery-card glass-card">
                <div class="gallery-card-img-wrapper">
                  <img
                    [src]="gallery.random_image.url"
                    class="gallery-card-img"
                    alt="{{ gallery.random_image.title }}"
                  />
                  <span class="gallery-card-date">{{
                    gallery.image_date
                  }}</span>
                </div>
                <div class="gallery-card-body">
                  <h5 class="gallery-card-title">
                    <ui-icon
                      name="collections"
                      size="20px"
                      color="#dc3545"
                    ></ui-icon>
                    {{ gallery.title }}
                  </h5>
                </div>
              </div>
            </a>
            }
          </div>
        </div>
      </div>

      <div class="pagination glass-pagination">
        <button
          type="button"
          class="page-btn"
          (click)="previousPage()"
          [disabled]="currentPage === 1"
        >
          <ui-icon name="chevron_left"></ui-icon>
          Anterior
        </button>
        <span class="page-indicator"
          >{{ currentPage }} de {{ totalPages }}</span
        >
        <button
          type="button"
          class="page-btn"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
        >
          Siguiente
          <ui-icon name="chevron_right"></ui-icon>
        </button>
      </div>
      }
    </div>
    <div class="col-lg-3">
      <app-links-home></app-links-home>
    </div>
  </div>
</div>
