<div class="loading-demo">
  <div class="truck-wrapper">
    <ui-icon name="fire_truck" size="36px" color="#dc3545"></ui-icon>
    <div class="truck-lights">
      <ui-icon
        name="circle"
        size="10px"
        color="#dc3545"
        class="truck-light tl-red"
      ></ui-icon>
      <ui-icon
        name="circle"
        size="10px"
        color="#1976d2"
        class="truck-light tl-blue"
      ></ui-icon>
    </div>
    <div class="truck-bar">
      <div class="truck-bar-fill"></div>
    </div>
  </div>
</div>
