.galleries {
  padding: 0;
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

.galleries h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #022859;
}

.galleries p {
  color: #868e96;
  margin-top: 0.25rem;
}

[data-theme="dark"] .galleries h2 {
  color: #eaeaea !important;
}

[data-theme="dark"] .galleries p {
  color: #7b89a1;
}
